.buttonPop {
    color: pink;
}

.button {
    background-color: #a5a5a5;
    border: none;
    color: white;

    text-align: center;
    text-decoration: none;
    display: inline-block;

    margin: 4px 2px;
    cursor: pointer;

}

.button1 {
    background-color: #aabedf;
    color: white;
    border: 0px solid #4CAF50;
    font-size: 18px;
    padding: 7px 70px;
    transition: 0.5s;
    border:
}

.button1:hover {
    background-color: #e3eaf4;
    border-top: 5px double #3b62a0;
    border-bottom: 5px double #3b62a0;




    color: white;
}
                                                                                                                                                                                                                                                                                                                                                           <button class="button button5">Black</button>

                                                                                                                                                                                                                                                                                                                                                                                                                                 </body>
                                                                                                                                                                                                                                                                                                                                                                                                                                   </html>
