
/*
Styling the popover and the added animation to the task completion
  
*/
.popover {
    height:  auto;
    width: 250px;
    position: relative;
    padding: 10px;
    
  }
  
  .popover-content {
    font-size: 30px;
    font-weight: bold;
    
    
  }

  .popover label {
    position: absolute;

  }

  .popOptions {
    display: flex;
    float: right;
  }
  
  /* 2.5/7= 0.357 */
  .circle-loader {
    
    border: 1px solid rgba(0, 0, 0, 0.2);
    position: relative;
    
    vertical-align: top;
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
  }
  
  .load-complete {
    -webkit-animation: none;
    animation: none;
    border-color: #5cb85c;
    transition: border 500ms ease-out;
  }
  
  .checkmarkoverlay {
    opacity: 0.5;
    height: 1.25em;
    width: 0.625em;
    transform-origin: left top;
    border-right: 3px solid rgba(0, 0, 0, 0.2);
    border-top: 3px solid rgba(0, 0, 0, 0.2);
    content: "";
    left: 0.625em;
    top: 1.25em;
    position: absolute;
    transform: scaleX(-1) rotate(135deg);
  }
  
  .checkmark {
    display: none;
  }
  .checkmark.draw:after {
    animation-duration: 800ms;
    animation-timing-function: ease;
    animation-name: checkmark;
    transform: scaleX(-1) rotate(135deg);
  }
  .checkmark:after {
    opacity: 1;
    height: 1.25em;
    width: 0.625em;
    transform-origin: left top;
    border-right: 3px solid #5cb85c;
    border-top: 3px solid #5cb85c;
    content: "";
    left: 0.625em;
    top: 1.25em;
    position: absolute;
  }
  
  @keyframes loader-spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes checkmark {
    0% {
      height: 0;
      width: 0;
      opacity: 1;
    }
    20% {
      height: 0;
      width: 0.625em;
      opacity: 1;
    }
    40% {
      height: 1.25em;
      width: 0.625em;
      opacity: 1;
    }
    100% {
      height: 1.25em;
      width: 0.625em;
      opacity: 1;
    }
  }
  #showCompleted {
    display:none;
    color: #5cb85c;
  }

  ul.file-list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
  }

  ul.file-list li{
    cursor:pointer;
  }

  #Notes textarea{
    width: 100%;
    height: auto;
    resize: none;
  }

  .subtasklist {
    list-style-type:none;
    padding: 0;
  }

  .innersubtasks {
    
  }

  .subtask {
    position: relative;
  }

  .sub-checkbox {
    vertical-align: middle;
    float:left;
    padding-left:10px;
  }

  .subtasklabel{
    vertical-align: middle;
    padding-left:20px;
  }

  input[type=checkbox]:checked + div.subtasklabel{
    text-decoration: line-through;
  }

  #addsub {
    width: 100%;
  }

  

  