extends ../layout

block vars
    - var title = "Welcome to Schedular"

block head
    link(rel="stylesheet" href="../css/signin.css")

block body
    h1 #{title}
    a(href='/signin', class='signinbutton') Sign In
    a(href='/signup', class='signupbutton') Sign Up